@import "../variables";

.header {
  padding: 20px 0;
  top: 0;
  position: sticky;
  z-index: 1000;
  background: white;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__left {
    float: left;
    display: flex;
    width: 70%;

    img {
      width: 70px;
      margin-right: 15px;
    }

    h1 {
      font-size: 30px;
      font-weight: 800;
      letter-spacing: 0.01em;
      text-transform: uppercase;
    }

    p {
      font-size: 30px;
      color: #7b7b7b;
    }
  }

  &__right {
    float: right;
    width: 30%;

    ul {
      overflow: hidden;
    }

    li {
      float: right;
    }

    li a {
      width: 150px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
      background-color: $search-bar-color;
      color: white;
      font-size: 1.5rem;
    }

    li a:hover {
      background-color: $logo-color;
    }
  }

  @media screen and (max-width: 768px) {
    .container {
      //flex-direction: column;
    }

    &__left {
      h1 {
        font-size: 16px;
      }
    }

    &__right {
      //margin-top: 40px;
    }
  }
}