@import "../../variables";

.post {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 20px auto 0;
  width: 60%;

  .post-header {
    height: 70px;
  }

  #title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .post-header img {
    width: 60px;
  }

  .post-header span {
    font-size: 1.5rem;
  }

  .post-subheader {
    padding: 16px;
  }

  .post-subheader span {
    white-space: pre-line;
    vertical-align: bottom;
    font-size: 1.5rem;
  }

  .post-body {
    height: 200px;
    object-fit: cover;
  }

  .post-body img {
    object-fit: contain;
  }

  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 10%, 0);
      transform: translate3d(0, 10%, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 10%, 0);
      transform: translate3d(0, 10%, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }

  @media screen and (max-width: 768px) {
    .post-header {
      height: 50px;
      padding: 5px;
    }

    .post-header img {
      width: 40px;
    }

    .post-subheader {
      padding: 5px;
    }

    .post-body {
      height: 154px;
    }
  }
}